<h1 class="animated fadeIn">{{ jugador.nombre | uppercase }} <small>({{ jugador.aparicion | date:'y' }})</small></h1>
<hr>

<div class="row animated fadeIn fast">

  <div class="col-md-4">

    <img [src]="jugador.img" class="img-fluid" [alt]="jugador.nombre">
    <br><br>
    <a [routerLink]="['/jugador']" class="btn btn-outline-danger btn-block">Regresar</a>

  </div>

  <div class="col-md-8">
    <h3>{{ jugador.nombre }}</h3>
    <hr>
    <p>
      {{ jugador.bio }}
    </p>
  </div>

</div>
